<!-- REQUEST Modal -->
<div class="modal fade" id="requestModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header headimg">
                <h4 class="modal-title">Rent Request</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <!--TRUCK MORE DETAILS -->
                <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                            <!--IMAGE-->
                            <img src="pics/ht.jpg" id="truckimg" class="img-thumbnail float-left img-fluid" alt="truckimage"> Plate Number: ABC 123
                            <br> Number of Wheels: 10
                            <br> Transmission: manual
                            <br> OTHER DETAIL: yes
                            <br>
                        </div>
                        <!--RENT REQUEST SLIDE-->
                        <div class="carousel-item">
                            <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                            <div class="row">
                                <div class="col-sm-11">
                                    Number of days to rent:
                                    <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter number of days">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-11">
                                    Starting day of use:
                                    <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter starting date">
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--right controls -->
                    <a class="carousel-control-next" href="#demo" data-slide="next" style="width: 20px;">
                        <span class="carousel-control-next-icon bg-secondary"></span>
                    </a>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success">
                    <a class="text-light" href="#">login first</a>
                </button>
                <button type="button" class="btn btn-warning text-light" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!--end modal-->