<div class="container-fluid lead" style="padding: 0px 20px; ">
  <!--sample table-->

  <div class="row" style="padding-top: 50px;">
    <div class="col-sm-12">
      <div class="card" style="box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);">
        <div class="card-header heading">
          <div>
            <h2 class="text-dark text-center" data-toggle="tooltip" data-placement="top" title="Select an item to view more details.">TRUCKS</h2>
          </div>
        </div>


        <div class="lead" style=" margin: 10px">
          <div class="input-group">
            <input class="form-control" id="myInput" type="text" placeholder="Search truck name, license plate, type or avalability">
          </div>

          <br>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>
                  <a href="/sortTruck">Truck</a>
                </th>
                <th>
                  <a href="/sortLicense">License Plate</a>
                </th>
                <th>
                  <a href="/sortType">Type</a>
                </th>
                <th>
                  <a href="/sortAvailability">Availability</a>
                </th>
              </tr>
            </thead>
            <tbody id="myTable">
              <tr data-toggle="modal" data-target="#requestModal">
                <td>Elf</td>
                <td>Kwan truck</td>
                <td>Delivery</td>
                <td>Available</td>
              </tr>
              <tr>
                <td>Hilux</td>
                <td>truck</td>
                <td>Personal</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>Boom</td>
                <td>Crane</td>
                <td>Construction</td>
                <td>Available</td>
              </tr>
              <tr>
                <td>other</td>
                <td>other</td>
                <td>other</td>
                <td>other</td>
              </tr>
            </tbody>
          </table>

          <!-- REQUEST Modal -->
          <div class="modal fade" id="requestModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header headimg">
                  <h4 class="modal-title">Rent Request</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                  <!--TRUCK MORE DETAILS -->
                  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                    </ul>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                        <!--IMAGE-->
                        <img src="pics/ht.jpg" id="truckimg" class="img-thumbnail float-left img-fluid" alt="truckimage"> Plate Number: ABC 123
                        <br> Number of Wheels: 10
                        <br> Transmission: manual
                        <br> OTHER DETAIL: yes
                        <br>
                      </div>
                      <!--RENT REQUEST SLIDE-->
                      <div class="carousel-item">
                        <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                        <div class="row">
                          <div class="col-sm-11">
                            Number of days to rent:
                            <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter number of days">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-11">
                            Starting day of use:
                            <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter starting date">
                          </div>
                        </div>

                      </div>

                    </div>
                    <!--right controls -->
                    <a class="carousel-control-next" href="#demo" data-slide="next" style="width: 20px;">
                      <span class="carousel-control-next-icon bg-secondary"></span>
                    </a>
                  </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">
                    <a class="text-light" href="#">login first</a>
                  </button>
                  <button type="button" class="btn btn-warning text-light" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>
          <!--end modal-->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);">
          <div class="card-header headimg">
            <div>
              <h2 class="text-dark text-center" data-toggle="tooltip" data-placement="top" title="Select an item to view more details.">TRUCKS</h2>
            </div>
          </div>


          <div class="lead" style=" margin: 10px">
            <div class="input-group">
              <input class="form-control" id="myInput" type="text" placeholder="Search truck name, license plate, type or avalability">
            </div>

            <br>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <a href="/sortTruck">Truck</a>
                  </th>
                  <th>
                    <a href="/sortLicense">License Plate</a>
                  </th>
                  <th>
                    <a href="/sortType">Type</a>
                  </th>
                  <th>
                    <a href="/sortAvailability">Availability</a>
                  </th>
                </tr>
              </thead>
              <tbody id="myTable">
                <tr data-toggle="modal" data-target="#requestModal">
                  <td>Elf</td>
                  <td>Kwan truck</td>
                  <td>Delivery</td>
                  <td>Available</td>
                </tr>
                <tr>
                  <td>Hilux</td>
                  <td>truck</td>
                  <td>Personal</td>
                  <td>Pending</td>
                </tr>
                <tr>
                  <td>Boom</td>
                  <td>Crane</td>
                  <td>Construction</td>
                  <td>Available</td>
                </tr>
                <tr>
                  <td>other</td>
                  <td>other</td>
                  <td>other</td>
                  <td>other</td>
                </tr>
              </tbody>
            </table>

            <!-- REQUEST Modal -->
            <div class="modal fade" id="requestModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header headimg">
                    <h4 class="modal-title">Rent Request</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">

                    <!--TRUCK MORE DETAILS -->
                    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                      <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                      </ul>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                          <!--IMAGE-->
                          <img src="pics/ht.jpg" id="truckimg" class="img-thumbnail float-left img-fluid" alt="truckimage"> Plate Number: ABC 123
                          <br> Number of Wheels: 10
                          <br> Transmission: manual
                          <br> OTHER DETAIL: yes
                          <br>
                        </div>
                        <!--RENT REQUEST SLIDE-->
                        <div class="carousel-item">
                          <h4 class="text-secondary">TRUCK NAME - SERVICE PROVIDER</h4>
                          <div class="row">
                            <div class="col-sm-11">
                              Number of days to rent:
                              <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter number of days">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-11">
                              Starting day of use:
                              <input class="form-control" id="exampleInputNumber" type="number" aria-describedby="numberHelp" placeholder="Enter starting date">
                            </div>
                          </div>

                        </div>

                      </div>
                      <!--right controls -->
                      <a class="carousel-control-next" href="#demo" data-slide="next" style="width: 20px;">
                        <span class="carousel-control-next-icon bg-secondary"></span>
                      </a>
                    </div>

                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success">
                      <a class="text-light" href="#">login first</a>
                    </button>
                    <button type="button" class="btn btn-warning text-light" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>
            <!--end modal-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>