<% include partials/header %>
<div style="margin: 10vh auto; background-color: azure; height: 100vh; display: block;">
    <div style="margin: 1vh 1vh;">
        <% if(errors) {%>
            <% errors.forEach(function(errors){ %>
                <div class="alert alert-danger"><%= errors.msg %></div>
            <% }) %>
        <% } %>
        <form method="post" action="/provider/add">
            <label>First name</label><br>
            <input type="text" name="fName" value="">
            <br>
            <label>Last Name</label><br>
           <input type="text" name="lName" >
            <br>
            <label>Username</label><br>
            <input type="text" name="username" >
            <br>
            <label>Email address</label><br>
            <input type="email" name="email" >
            <br>
            <label>Phone number</label><br>
            <input type="number" name="phone_number" >
            <br>
            <label>Password</label><br>
            <input type="password" name="password" >
            <br>
            <label>Confirm Password</label><br>
            <input type="password" name="re_password" >
            <br> <br>
            <input type="submit" value="Register">
        </form>
        <!-- <hr>
        <form method="get" action="/login.ejs">
                <Label>Already have an account?</Label>
                <input type="submit" value="Login">
        </form> -->
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script>
 $(document).ready(function  () {
     $("#submit").on("submit",function  (e) {
         e.preventDefault();
         console.log();
         $.post("/",$(this).serialize(), function( data ) {
          console.log(data);
        });
     })
 });
 </script>
<% include partials/footer %>