<% include partials/header %>
<!-- <div style="margin: 50vh auto; background-color: azure; height: 100vh; display: block;">
    <form method="post" action="/users/add">
        <label>Bank Name</label><br>
        <input type="text" name="bank_type">
        <br>
        <label>Bank Account Number</label><br>
        <input type="text" name="bank_account_number">
        <br> <br>
        <input type="submit" value="Submit">
    </form>
</div> -->
<% include partials/footer %>