<% include partials/header %>
    <div style="margin: 10vh auto; background-color: azure; height: 100vh; display: block;">
        <div style="margin: 1vh 1vh;">
        <form method="get" action="login">
            <Label>Username</Label><br>
            <input type="text" name="id">
            <br>
            <label>Password</label><br>
            <input type="password" name="pwd">
            <br><br>
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
<% include partials/footer %>