#field{
    width: 30%;
}

.form-control:first-of-type{
    margin-top: 30px;
}

.form-control:last-of-type{
    margin-top: 20px;
}

.change{
    margin: 20px 0px 20px 0px;
}

@media screen and (max-width: 1024px){
    #field{
        width: 100%;
    }
}