<!DOCTYPE html>
<html>
    <head>
        <title>Truck Rentals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/Node - Service Provider/service/public/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        
    </head>
    
    <body style="background-color: dimgray">
        <nav class="bg-dark navbar-dark">
                <a class="navbar-brand" href="/">Truck Rental</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="http://truckrentals.com:3000/provider/signup" style="float: right" >Sign up</a>
                <a class="navbar-brand" href="http://truckrentals.com" style="float: right">Log in</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">Trucks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>    
                </ul>
            </div>  
        </nav>
        <div>
        <div class="container">
<div style="margin: 10vh auto; background-color: azure; height: 100vh; display: block;">
    <div style="margin: 1vh 1vh;">
    <form method="POST" action="/provider/addTruck" id="add">
        <label></label><br>
        <input type="text" name="name" placeholder="Name of truck" required="required"><br>
        <label></label><br>
        <input type="text" name="description" placeholder="Description" required="required"><br>
        <label></label><br>
        <input type="text" name="capacity" placeholder="Capacity (i.e. 2000 kg)" required="required"><br>
        <label></label><br>
        <input type="text" name="cost" placeholder="Cost" required="required"><br>
        <label></label><br>
        <input type="text" name="category" placeholder="Category" required="required"><br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
    </div>
<% include partials/footer %>